{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrapframework/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="d-flex">
        <div>
            <h1>Login Page</h1>
        </div>
        <div>
            {% include 'multipledomain/domain.html' %}
        </div>
    </div>
</body>

<script src="{% static 'bootstrapframework/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'websocket.js' %}"></script>
</html>